/* Reset default styles */
body {
  margin: 0;
}

/* Reset default list styles */
ul.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

/* Navbar styles */
header.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
header.navbar h4 {
  margin: 0;
  font-size: 14px;
}
header.navbar h1 {
  margin: 0;
  font-size: 24px;
}
/* Navbar button styles */
header.navbar .button,
.button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

header.navbar .button:hover,
.button:hover {
  background-color: #eee;
}

header.navbar ul.navbar {
  display: flex;
  align-items: center;
}

/* Footer styles */
footer.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.footer {
  justify-content: space-between;
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer.footer p {
  margin: 0;
  font-size: 14px;
}

/* Additional styles for the content */
main {
  padding: 20px;
  margin-bottom: 60px; /* Adjust this value based on the footer height */
}

.button.red {
  background-color: red;
}
.button.green {
  background-color: green;
}
.button,
a.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 16px; /* Adjust the font size as needed */
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 1s;
}

.picture {
  max-width: 80vw;
  max-height: 80vh;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 300px;
  column-gap: 10px;
  row-gap: 10px;
}

.tittle {
  color: inherit;
  text-decoration: inherit; /* no underline */
}
